h1 Login
form(action="/_shared/login" method="POST")
    div
        label(for = "name") Ten tai khoan
        input#email(type="text", name="name" placeholder = "Enter Email")
    div
        label(for = "password") Ten tai khoan
        input#email(type="text", name="password" placeholder = "Enter Email")
    
    div
        button(type="submit") Login