body
    form(action="/_shared/rspassword", method="post")
        div
            label(for = "oldpwd") Mk cu~
            input#oldpwd(type="text", name="oldpwd")
        
        div
            label(for = "oldpwd") Mk moi
            input#newpwd(type="text", name="newpwd")
        div
            button(type="submit") Reset